@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project has been design for COMP 306 SEC 002 class by Mohammad Etedali &amp; Han Lu.</p>
<p>Centennial College 2021</p>
