@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        Users can view
        all comments and ratings, but can only modify his/her own comments and ratings if the
        comments and ratings are written within 24 hours.
    </p>

</div>
